body {
  background-color: #ffec99;
}

.main-heading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.camera-tables {
  margin: 50px 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.hide {
  display: none;
}
